.tab-content-area {
    -fx-background-color: #ffffff;
}

titleHbox {
    -fx-background-color: green ;
}

.root {
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
}

.createdByLbl {
    -fx-background-color: #004ea0 ;
    -fx-text-fill: white;
}

.titlePane {
    -fx-background-color: #004ea0 ;
}

.statistics-pane {
    -fx-background-color: white;
}

.cars-pane {
    -fx-background-color: white;
    -fx-padding: 0;
}

.titleLbl {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field:focused {
    -fx-border-color: #004ea0;
    -fx-border-radius: 2px;
}

.menu-button:focused {
    -fx-border-color: #004ea0;
    -fx-border-radius: 2px;
}

.badge {
    -fx-background-radius: 8px;
    -fx-background-color:#004ea0;
    -fx-text-fill:#33ffff;
}

.button  {
    -fx-background-radius: 0px;
}

.menu-button {
    -fx-background-radius: 0px;
}

.toolbar-label {
    -fx-text-fill:#ffffff;
    -fx-font-style: italic;
}

.toolbar-button {
    -fx-background-radius: 3px;
    -fx-background-color: #ffffff;
    -fx-pref-width: 44px;
    -fx-pref-height: 28px;
}

.button:focused  {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.menu-button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.text-field {
    -fx-background-radius: 0px;
}

.text-area {
    -fx-background-radius: 0px;
}

.menu-item:focused {
    -fx-background-color: #004ea0;
}

.text-area:focused {
    -fx-border-color: #004ea0;
    -fx-border-radius: 2px;
}

.button:focused {
    -fx-border-color: #004ea0;
    -fx-border-radius: 2px;
}

.menu-button .arrow-button {
    -fx-opacity: 0.0;
}

.menu-button .arrow-button {
    -fx-padding: -5;
}

.searchTextfield {
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 2 0 7;
}
.searchTextfield:focused {
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 2 0 7;
}
.searchTextfield:hover {
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 2 0 7;
}

